<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVNAsync.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E02C75B17CF025400F14D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6E543B17BD50C400188C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6E544B17BD50C400188C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
